.accordion {
  position: relative;
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-tablet) {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  @media (max-width: $max-mobile) {
      flex-direction: column;
    }
  }

  .accordion__item {
    @media (max-width: $max-mobile) {
      padding-top: 28px;
    }
  }

  .accordion__button {
    position: relative;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.accordion__toggle {
  display: none;

  @media (max-width: $max-mobile) {
    position: absolute;
    top: -5px;
    right: -4px;

    display: block;
    padding: 0;

    width: 25px;
    height: 25px;

    cursor: pointer;
    border: none;

    background-repeat: no-repeat;
    background-position: center;
    background-color: var(--transparent);
    background-image: url("../img/plus.svg");
  }
}

.accordion__block {
  @media (max-width: $max-mobile) {
    display: none;
  }
}

.accordion__item--active .accordion__block {
  display: block;
}

.accordion__item--active .accordion__toggle {
  background-image: url("../img/minus.svg");
}
