.address {
  grid-column: 3/4;

  max-width: 340px;
  width: 100%;

  @media (max-width: $max-tablet) {
    grid-column: 2/3;
    grid-row: 2/3;

    display: flex;
    flex-direction: column;
    justify-self: flex-end;

    padding-right: 25px;
    max-width: 360px;
  }

  @media (max-width: $max-mobile) {
    grid-column: 1/2;
    grid-row: 3/4;

    justify-self: flex-start;

    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

.address p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;
}

.address a {
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
