.address {
  grid-column: 3/4;

  max-width: 335px;
  width: 100%;

  @media (max-width: $max-tablet) {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;

    padding-right: 25px;
    max-width: 370px;
  }

  @media (max-width: $max-mobile) {
    grid-column: 1/2;
    grid-row: 3/4;

    justify-self: flex-start;

    padding-left: 15px;
    padding-right: 15px;
    max-width: 100%;
  }
}

.address__block {
  display: flex;
  flex-direction: column;

  @media (max-width: $max-mobile) {
    padding-bottom: 27px;
  }
}

.address p {
  font-size: 15px;
  line-height: 25px;
  opacity: 0.5;

  @media (max-width: $max-mobile) {
    padding-right: 20px;
  }
}

.address a {
  width: max-content;
  white-space: nowrap;

  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}

.address ul {
  @media (max-width: $max-mobile) {
    padding-bottom: 27px;
  }
}

.address li {
  margin-bottom: 2px;
}
