.contacts {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.contacts li {
  margin-bottom: 10px;

  &:not(:last-child) {
    margin-right: 85px;

    @media (max-width: $max-tablet) {
      margin-right: 32px;
    }

    @media (max-width: $max-mobile) {
      margin-right: 23px;
    }
  }
}

.contacts a {
  position: relative;
  display: flex;

  white-space: nowrap;

  font-size: 16px;
  line-height: 18px;
  color: inherit;

  @media (max-width: $max-tablet) {
    width: max-content;
  }
}

.contacts span {
  padding-left: 20px;

  @media (max-width: $max-tablet) {
    display: none;
  }
}

.contacts__email svg {
  width: 19px;
  height: 14px;

  @media (max-width: $max-tablet) {
    width: 25px;
    height: 18px;
  }
}

.contacts__phone svg {
  width: 18px;
  height: 18px;

  @media (max-width: $max-tablet) {
    width: 24px;
    height: 24px;
  }
}
