.contacts {
  display: flex;
  align-items: center;
}

.contacts a {
  position: relative;
  display: flex;

  width: 212px;
  white-space: nowrap;

  font-size: 16px;
  line-height: 18px;
  color: inherit;

  @media (max-width: $max-tablet) {
    width: max-content;
  }

  &::before {
    position: absolute;
    content: attr(aria-label);
    padding-left: 35px;

    @media (max-width: $max-tablet) {
      content: "";
    }
  }
}

.contacts__email {
  @media (max-width: $max-tablet) {
    margin-right: 32px;
  }

  @media (max-width: $max-mobile) {
    margin-right: 23px;
  }
}

.contacts__email svg {
  width: 19px;
  height: 14px;

  @media (max-width: $max-tablet) {
    width: 25px;
    height: 18px;
  }
}

.contacts__phone svg {
  width: 18px;
  height: 18px;

  @media (max-width: $max-tablet) {
    width: 24px;
    height: 24px;
  }
}
