.feedback {
  padding-top: 93px;
  padding-bottom: 110px;
  background-color: var(--heavenly);
  color: var(--white);

  background-image: url("../img/background-feedback.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 150px) top -60px;
  background-size: 1872px 765px;

  @media (min-resolution: $resolution) {
    background-image: url("../img/background-feedback@2x.png");
  }

  @media (max-width: $min-desktop) {
    background-image: none;
  }

  @media (max-width: $max-tablet) {
    padding-top: 78px;
    padding-bottom: 104px;
  }

  @media (max-width: $max-mobile) {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}

.feedback__inner {
  display: flex;
  justify-content: flex-end;

  background-image: url("../img/plane.png");
  background-repeat: no-repeat;
  background-position: top 70px left 110px;
  background-size: 511px 288px;

  @media (min-resolution: $resolution) {
    background-image: url("../img/plane@2x.png");
  }

  @media (max-width: $min-desktop) {
    justify-content: center;
    background-image: none;
  }
}

.feedback__form-wrap {
  max-width: 570px;

  @media (max-width: $max-tablet) {
    --padding-form: 64px;
    max-width: calc(100% - var(--padding-form) * 2);
  }

  @media (max-width: $max-mobile) {
    max-width: 100%;
  }
}

.feedback h2 {
  margin-bottom: 10px;

  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $max-tablet) {
    margin-bottom: 18px;
    font-size: 32px;
    line-height: 140%;
  }

  @media (max-width: $max-mobile) {
    font-size: 28px;
  }
}

.feedback p {
  margin-bottom: 49px;

  font-size: 16px;
  line-height: 22px;

  @media (max-width: $max-tablet) {
    margin-bottom: 53px;
  }

  @media (max-width: $max-mobile) {
    margin-bottom: 22px;
  }
}

.feedback__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 43px;
  margin-right: 35px;

  @media (max-width: $max-tablet) {
    margin-top: 45px;
    margin-right: 40px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 28px;
  }
}

.feedback input:not([type="checkbox"]) {
  width: 47%;

  @media (max-width: $max-mobile) {
    width: 100%;
  }
}

.feedback textarea {
  margin-top: 40px;
  height: 154px;

  color: var(--white);

  resize: none;
  background-color: var(--white-01);
  border: none;

  @media (max-width: $max-tablet) {
    height: 159px;
  }

  @media (max-width: $max-mobile) {
    margin-top: 32px;
    height: 104px;
  }
}

.feedback input[type="checkbox"] + label {
  padding-left: 40px;
  width: 240px;

  @media (max-width: $max-mobile) {
    padding-left: 35px;
  }

  &::before {
    @media (max-width: $max-tablet) {
      top: 2px;
      left: 5px;
    }

    @media (max-width: $max-mobile) {
      top: 0;
      left: 0;
    }
  }
}

.feedback input[type="checkbox"]:checked + label {
  &::after {
    @media (max-width: $max-tablet) {
      top: 5px;
      left: 11px;
    }

    @media (max-width: $max-mobile) {
      top: 3px;
      left: 6px;
    }
  }
}

.feedback button {
  width: 270px;

  @media (max-width: $max-tablet) {
    width: 279px;
    height: 46px;
  }

  @media (max-width: $max-mobile) {
    width: 100%;
    margin-bottom: 30px;
  }
}
