input:not([type="checkbox"]) {
  padding: 14px 16px;

  height: 51px;

  color: var(--white);
  background-color: var(--white-01);
  border: none;
  border-radius: 0;

  &::placeholder {
    font-family: $pt-mono;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
  }

  &:focus {
    outline: 1px solid var(--white);
  }
}

input[type="text"] {
  margin-right: 24px;

  @media (max-width: $max-mobile) {
    margin-right: 0;
    margin-bottom: 30px;
  }
}

textarea {
  padding: 14px 16px;
  width: 100%;

  color: var(--white);

  resize: none;
  background-color: var(--white-01);
  border: none;
  border-radius: 0;

  &::placeholder {
    font-family: $pt-mono;
    font-size: 16px;
    line-height: 22px;
    color: var(--white);
  }

  &:focus {
    outline: 1px solid var(--white);
  }
}

form .form-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;

  margin-top: 43px;
  margin-right: 35px;

  @media (max-width: $max-tablet) {
    margin-top: 45px;
    margin-right: 33px;
  }

  @media (max-width: $max-mobile) {
    flex-direction: column-reverse;
    align-items: flex-start;
    margin-right: 0;
    margin-top: 28px;
  }

  &--modal {
    flex-direction: column-reverse;
    margin-top: 0;
    margin-right: 0;
  }
}

form .checkbox {
  position: relative;
}

input[type="checkbox"] {
  bottom: 0;
  left: 15px;
}

input[type="checkbox"] + label {
  position: relative;
  display: flex;

  font-size: 14px;
  line-height: 16px;

  opacity: 0.8;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 12px;
    width: 16px;
    height: 16px;
    border: 1px solid var(--white);
  }
}

input[type="checkbox"]:checked + label {
  &::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 17px;
    width: 5px;
    height: 7px;
    border-bottom: 1px solid var(--white);
    border-right: 1px solid var(--white);
    transform: rotate(45deg);
  }
}

input[type="checkbox"]:focus + label::before,
input[type="checkbox"]:hover + label::before {
  outline: 1px solid;
}

button[type="submit"] {
  min-height: 45px;

  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: var(--white);
  background-color: var(--transparent);

  border: 1px solid var(--white);
  border-radius: 5px;

  cursor: pointer;
  outline: none;

  transition: background-color 0.3s, color 0.3s;

  &:hover,
  &:focus {
    background-color: var(--white);
    color: var(--heavenly);
    border: 1px solid var(--heavenly);
  }

  &:active {
    background-color: var(--transparent);
    color: var(--white);
    border: 1px solid var(--white);
  }
}
