header {
  padding-top: 33px;
  min-height: 878px;

  color: var(--white);

  background-color: var(--dark-desaturated-blue);
  background-image: url("../img/background.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
