.info {
  background-image: url("../../img/background-triangles.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 1920px 1347px;

  @media (min-resolution: $resolution) {
    background-image: url("../img/background-triangles@2x.png");
  }

  @media (max-width: $max-tablet) {
    background-position: left -349px top -84px;
  }

  @media (max-width: $max-mobile) {
    background-position: left -655px top 478px;
  }
}
