.logo {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 16px;

  width: max-content;
  color: inherit;

  &--footer {
    margin-bottom: 45px;
  }
}

.logo img {
  grid-row: 1/3;

  width: 52px;
  height: 52px;
}

.logo__title {
  padding-top: 7px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: bold;
  font-size: 25px;
  line-height: 29px;
}

.logo__tagline {
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;

  color: var(--gray);
}
