.modal {
  display: none;

  &--open {
    display: block;
    animation: modal-open 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
}

.modal__base {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 878px;
  background-color: var(--black-05);
}

.modal form {
  position: absolute;
  top: 450px;
  left: 50%;
  z-index: 10;

  padding: 33px 39px;
  width: 490px;
  min-height: 605px;

  color: var(--white);
  background-color: var(--heavenly);

  transform: translate(-50%,-50%);
}

.modal h2 {
  margin-bottom: 20px;

  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 28px;
  line-height: 140%;
}

.modal p {
  margin-bottom: 50px;

  font-family: $pt-mono;
  font-size: 16px;
  line-height: 22px;
}


.modal input:not([type="checkbox"]) {
  margin-bottom: 30px;
  width: 100%;
}

.modal textarea {
  margin-bottom: 30px;
  height: 144px;
}

.modal input[type="checkbox"]+label {
  padding-left: 48px;
  margin-right: 10px;
}

.modal button[type="submit"] {
  margin-bottom: 34px;
  width: 100%;
}

.modal button[type="button"] {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  width: 30px;
  height: 30px;

  background-color: var(--transparent);
  border: none;
  cursor: pointer;
}


@keyframes modal-open {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
