.nav__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $max-tablet) {
    padding-left: 20px;
  }

  @media (max-width: $max-mobile) {
    padding-left: 15px;
  }
}

.nav button {
  width: 180px;
  min-height: 45px;

  background-color: var(--transparent);
  border: 1px solid var(--white);
  border-radius: 5px;

  font-family: $roboto-condensed;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  letter-spacing: 0.05em;
  text-transform: uppercase;

  color: inherit;
  cursor: pointer;

  @media (max-width: $max-tablet) {
    display: none;
  }
}
