.products {
  padding-top: 90px;
  padding-bottom: 127px;

  color: var(--white);

  background-color: var(--dark-desaturated-blue);

  @media (max-width: $max-tablet) {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  @media (max-width: $max-mobile) {
    padding-top: 50px;
    padding-bottom: 63px;
  }
}

.products h2 {
  margin-bottom: 50px;

  font-family: $roboto-condensed;
  font-weight: normal;
  font-size: 36px;
  line-height: 51px;

  @media (max-width: $max-tablet) {
    margin-right: 90px;
    font-size: 32px;
    line-height: 140%;
  }

  @media (max-width: $max-mobile) {
    margin-right: 0;
    margin-left: 10px;
    margin-bottom: 45px;
    font-size: 28px;
  }
}

.products ul {
  display: flex;
  column-gap: 30px;

  @media (max-width: $max-tablet) {
    flex-direction: column;
    row-gap: 46px;
  }

  @media (max-width: $max-mobile) {
    row-gap: 30px;
  }
}

.products__item {
  width: 33%;
  height: 620px;

  background-size: 370px 620px;
  background-repeat: no-repeat;

  @media (max-width: $min-desktop) {
    height: 480px;
    background-size: cover;
  }

  @media (max-width: $max-tablet) {
    width: 100%;
    height: 256px;
    background-size: cover;
  }

  &--production {
    background-image: url("../img/production.png");

    @media (min-resolution: $resolution) {
      background-image: url("../img/production@2x.png");
    }

    @media (max-width: $max-tablet) {
      background-image: url("../img/production-tablet.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/production-tablet@2x.png");
      }
    }

    @media (max-width: $max-mobile) {
      background-image: url("../img/production-mobile.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/production-mobile@2x.png");
      }
    }
  }

  &--montage {
    background-image: url("../img/montage.png");

    @media (min-resolution: $resolution) {
      background-image: url("../img/montage@2x.png");
    }

    @media (max-width: $max-tablet) {
      background-image: url("../img/montage-tablet.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/montage-tablet@2x.png");
      }
    }

    @media (max-width: $max-mobile) {
      background-image: url("../img/montage-mobile.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/montage-mobile@2x.png");
      }
    }
  }

  &--accessories {
    background-image: url("../img/accessories.png");

    @media (min-resolution: $resolution) {
      background-image: url("../img/accessories@2x.png");
    }

    @media (max-width: $max-tablet) {
      background-image: url("../img/accessories-tablet.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/accessories-tablet@2x.png");
      }
    }

    @media (max-width: $max-mobile) {
      background-image: url("../img/accessories-mobile.png");

      @media (min-resolution: $resolution) {
        background-image: url("../img/accessories-mobile@2x.png");
      }
    }
  }
}

.products a {
  position: relative;
  display: flex;

  padding: 53px 43px;
  width: 100%;
  height: 100%;

  font-family: $roboto-condensed;
  font-size: 20px;
  line-height: 30px;
  color: inherit;

  @media (max-width: $max-tablet) {
    padding-top: 43px;
  }

  @media (max-width: $max-mobile) {
    padding: 23px 34px;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;

    width: 63px;
    height: 63px;

    background-color: var(--heavenly);
    background-image: url("../img/arrow.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &:hover {
    box-shadow: var(--shadow);
  }
}

.products__item--accessories a {
  padding-top: 53px;

  @media (max-width: $max-mobile) {
    padding-top: 30px;
  }
}
