.sections {
  grid-column: 2/3;

  margin-right: 135px;
  max-width: 550px;
  width: 100%;

  @media (max-width: $max-tablet) {
    grid-column: 1/2;
    grid-row: 2/3;

    margin-right: 0;
    padding-left: 25px;
    max-width: 100%;
  }
}

.sections__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $max-tablet) {
    flex-direction: column;
  }
}

.sections__list {
  &:not(:last-child) {
    margin-right: 70px;
  }
}

.sections__item a {
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
