.sections {
  grid-column: 2/3;

  margin-right: 135px;
  max-width: 550px;
  width: 100%;

  @media (max-width: $min-desktop) {
    margin-right: 20px;
  }

  @media (max-width: $max-tablet) {
    grid-column: 1/2;
    grid-row: 2/3;

    margin-right: 0;
    padding-left: 25px;
    max-width: 100%;
  }

  @media (max-width: $max-mobile) {
    padding-left: 15px;
    padding-right: 15px;

    border-bottom: 1px solid var(--grayish-green);
  }
}

.sections__wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $min-desktop) {
    flex-direction: column;
  }

  @media (max-width: $max-mobile) {
    padding-bottom: 27px;
  }
}

.sections__list {
  &:not(:last-child) {
    margin-right: 70px;

    @media (max-width: $min-desktop) {
      margin-right: 0;
    }
  }
}

.sections__item a {
  font-size: 15px;
  line-height: 25px;
  color: inherit;
  opacity: 0.5;

  &:hover,
  &:focus {
    opacity: 1;
  }

  &:active {
    opacity: 0.3;
  }
}
