.social-icon {
  display: flex;
  margin-left: -8px;

  @media (max-width: $max-tablet) {
    margin-left: 0;
    padding-right: 15px;
  }

  @media (max-width: $max-mobile) {
    padding-right: 0;
    margin-top: 25px;
  }
}

.social-icon__item {
  margin: 8px;
}

.social-icon__item a {
  display: flex;
}
