.container {
  max-width: $max-desktop;
  min-width: $mobile;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  &--main {
    padding-left: 135px;
    padding-right: 135px;

    @media (max-width: $min-desktop) {
      padding-left: 110px;
      padding-right: 110px;
    }
  }

  @media (max-width: $max-tablet) {
    padding-left: 25px;
    padding-right: 25px;
  }

  @media (max-width: $max-mobile) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
