.container {
  max-width: $desktop;
  min-width: $mobile;
  margin: 0 auto;
  padding-left: 80px;
  padding-right: 80px;

  @media (max-width: $max-tablet) {
    padding-left: 26px;
    padding-right: 26px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-family: "Roboto Condensed", "Arial", sans-serif;
}
