:root {
  --transparent: transparent;
  --black: #000000;
  --gray: #788891;
  --dark-desaturated-blue: #1B2D37;

  --white: #ffffff;

  --heavenly: #00B2FF;
}

$desktop: 1570px;

$tablet: 768px;

$mobile: 320px;

$resolution: 2dppx;
